//-----------------------------------------------<< Source >>------------------------------------------------//
//{{ name | center(107) }}//
//----------------------------------------------------*------------------------------------------------------//
//----[                                                                                                 ]----//
//----[         |||||             |||||                       ||||||||||       ||||||||||               ]----//
//----[        ||| |||           ||| |||                      |||     ||||     |||     ||||             ]----//
//----[       |||   |||         |||   |||                     |||       |||    |||       |||            ]----//
//----[       ||     ||         ||     ||                     |||       |||    |||       |||            ]----//
//----[      |||     |||       |||     |||                    |||     ||||     |||     ||||             ]----//
//----[      ||       ||       ||       ||     __________     ||||||||||       ||||||||||               ]----//
//----[     |||       |||     |||       |||                   |||    |||       |||                      ]----//
//----[     ||         ||     ||         ||                   |||     ||       |||                      ]----//
//----[    |||         |||   |||         |||                  |||     |||      |||                      ]----//
//----[    ||           ||   ||           ||                  |||      ||      |||                      ]----//
//----[   |||           ||| |||           |||                 |||      |||     |||                      ]----//
//----[  |||             |||||             |||                |||       |||    |||                      ]----//
//----[                                                                                                 ]----//
//----------------------------------------------------*------------------------------------------------------//
// Kod wygenerowany automatycznie narzędziem Mrucznik CTL

//-------<[ include ]>-------
#include "{{name}}_impl.pwn"

//-------<[ initialize ]>-------
command_{{name}}()
{
    new command = Command_GetID("{{name}}");

    //aliases
    {% for alias in aliases %}Command_AddAlt(command, "{{alias}}");
    {% endfor %}

    //permissions
    {% for permission in permissions %}{% if permission=='everyone' -%}Group_SetGlobalCommand(command, true);{% else %}Group_SetCommand(Group_GetID("{{permission}}"), command, true);{% endif %}
    {% endfor %}
}

//-------<[ command ]>-------
YCMD:{{name}}(playerid, params[], help)
{
    if (help)
    {
        sendTipMessage(playerid, "{{description}}");
        return 1;
    }
    {% if parameters -%}//fetching params
    new {% for parameter in parameters %}{{parameter.variable}}{{ ", " if not loop.last }}{% endfor %};
    if(sscanf(params, "{% for parameter in parameters %}{{parameter.symbol}}{% endfor %}"{% for parameter in parameters %}, {{parameter.name}}{% endfor %}))
    {
        sendTipMessage(playerid, "Użyj /{{name}} {% for parameter in parameters %}[{{parameter.description}}{% if defaultValue -%} ({{defaultValue}}){%- endif %}] {% endfor %}");
        return 1;
    }
    {%- endif %}
    {% for parameter in parameters %}{% if parameter.type=='player' -%}
    if(!IsPlayerConnected({{parameter.name}}))
    {
        sendErrorMessage(playerid, "Nie znaleziono gracza o nicku/id podanym w parametrze");
        return 1;
    }{% endif %}{% endfor %}
    //command body
    command_{{name}}_Impl(playerid{% for parameter in parameters %}, {{parameter.name}}{% endfor %});
    return 1;
}
